# Ignorar la carpeta .vs
.vs/

# Ignorar los binarios
bin/
obj/

# Ignorar los paquetes NuGet
*.nupkg
# Ignorar el directorio de paquetes de NuGet
# NuGet v3
.nuget/
# NuGet v2
packages/

# Otras carpetas y archivos que podrías querer ignorar
*.user
*.suo
*.userprefs
